#body {
  position: relative;
}

#topaccent {
	color:white ;
	font-weight: bold;
	font-size: xx-large;
	font:"Arial Black", Gadget, sans-serif
	}

.avatar{
  border-radius:50%;
  border:10px #FF8B00;
}

.container-fluid{
	text-align: center
	}
	
#padbox20{

	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px
	}
.sticky-top {
    top:60px;
    background-color: white;
}
.main-ct {
  height:700px;
  position:relative;
}
.fixed-ct {
  position: sticky;
  top:60px;
}
html {
  scroll-behavior: smooth;
}



.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;

  
}

/* to center flex-items */
.flex-item {
   margin: auto;
}
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/upperright.jpg);

  /* Set a specific height */
  height: 75%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
